<div class="card shadow-sm border-0">
    <div class="card-header bg-primary text-white">
        Jogos cadastrados {{total}}
    </div>

    <div class="table-responsive">
        <table class="table table-hover align-middle mb-0">
            <thead class="table-light">
                <tr>
                    <th>Ações</th>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Gênero</th>
                    <th>Ano</th>
                </tr>
            </thead>

            <tbody>
                {{linhas}}
            </tbody>
        </table>
    </div>
</div>